node_modules/
package-lock.json

Back-End/yarn.lock

Back-End/config/hook.json

Back-End/config/language.json

Back-End/config/locales/cs_cz.json

Back-End/config/locales/de_de.json

Back-End/config/locales/en_us.json

Back-End/config/locales/es_es.json

Back-End/config/locales/fr_fr.json

Back-End/config/locales/it_it.json

Back-End/config/locales/ja_jp.json

Back-End/config/locales/ru_ru.json

Back-End/config/locales/tr_tr.json

Back-End/config/middleware.json

Back-End/extensions/.gitkeep

Back-End/extensions/users-permissions/config/jwt.json

Back-End/favicon.ico

Back-End/package.json

Back-End/public/robots.txt

Back-End/public/uploads/.gitkeep

Back-End/README.md

Back-End/config/environments/staging/security.json

Back-End/config/environments/staging/server.json

Back-End/config/functions/bootstrap.js

Back-End/config/functions/cron.js

Back-End/config/functions/responses/404.js

Back-End/config/environments/production/security.json

Back-End/config/environments/production/server.json

Back-End/config/environments/staging/custom.json

Back-End/config/environments/staging/database.json

Back-End/config/environments/staging/request.json

Back-End/config/environments/staging/response.json

Back-End/api/category/config/routes.json

Back-End/api/category/controllers/category.js

Back-End/api/category/models/category.js

Back-End/api/category/models/category.settings.json

Back-End/api/category/services/category.js

Back-End/api/video/config/routes.json

Back-End/api/video/controllers/video.js

Back-End/api/video/models/video.js

Back-End/api/video/models/video.settings.json

Back-End/api/video/services/video.js

Back-End/config/application.json

Back-End/config/custom.json

Back-End/config/environments/development/custom.json

Back-End/config/environments/development/database.json

Back-End/config/environments/development/request.json

Back-End/config/environments/development/response.json

Back-End/config/environments/development/security.json

Back-End/config/environments/development/server.json

Back-End/config/environments/production/custom.json

Back-End/config/environments/production/database.json

Back-End/config/environments/production/request.json

Back-End/config/environments/production/response.json

Back-End/api/.gitkeep

Back-End/.eslintrc

Back-End/.eslintignore

Back-End/.editorconfig
